<%= form_for(@movie, :html => {class: 'well'}) do |f| %>
	<% if @movie.errors.any? %>
		<div id="error_explanation">
				<h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>
			<ul>
				<% @movie.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="form-group">
		<%= f.label :title, class: 'sr-only' %>
		<%= f.text_field :title, class: 'form-control movies-input', placeholder: 'Title', maxlength: '100' %>
	</div>
	<div class="form-group">
		<%= f.label :image_url, class: 'sr-only' %>
		<%= f.text_field :image_url, class: 'form-control movies-input', placeholder: 'Image URL', maxlength: '150' %>
	</div>
	<div class="form-group">
		<%= f.label :description, class: 'sr-only' %>
		<%= f.text_area :description, class: 'form-control movies-input', placeholder: 'Description', maxlength: '500' %>
	</div>
	<div class="form-group">
		<%= f.label :length, class: 'sr-only' %>
		<%= f.text_field :length, class: 'form-control movies-input', placeholder: 'Length (ex. 1:50)', maxlength: '10' %>
	</div>
	<div class="form-group">
		<%= f.label :director, class: 'sr-only' %>
		<%= f.text_field :director, class: 'form-control movies-input', placeholder: 'Director', maxlength: '100' %>
	</div>
	<div class="form-group">
		<%= f.label :rating, "Rating" %>
		<% @movie.rating ? @default = @movie.rating : @default = 5 %>
		<% @array = Array.new(10) { |i| Array.new(2, (i+1)) } %>
		<%= f.select(:rating, options_for_select(@array, @default)) %>
	</div>
	<div class="form-group" style="margin: 0">
		<%= f.submit class: 'btn btn-lp' %>
	</div>
<% end %>